.pio
.vscode/
.DS_Store
*.swp
*.bak
*.orig
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.exe
*.bin
*.hex
archive/

# Album art (personal/copyright - do not commit)
scripts/input_albums/
scripts/sd_card_albums/
src/album_art/album_*.h
